.Card {
	border: 3px solid;
	border-radius: 10px;
	overflow: hidden;
	margin: 15px;

	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-width: 400px;
}

.Card .Title {
	padding: 10px 0;
	display: flex;
	justify-content: center;
}
.Card .Content {
	background-color: #efefef;
	color: #000000;
	padding: 20px;
	flex-grow: 1;
}